* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    font-size: 16px;
    background-color: rgb(91, 92, 50);
   
}

.contact {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    color: aqua;
     padding-top: 35px;
    
  
  
}


.header {
    display: flex;
  
    background-color: beige;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(91, 92, 50);
}


.projects {
  background-color: rgba(245, 245, 220, 0.733);
  width: 100%;
  max-height: 400%;
  display: flex;
  justify-content: space-around;
  
  align-items: center;
 
 
  
  flex-wrap: wrap;
}

.img:hover {
    cursor: pointer;
}

.imgalt {
    display: none;
}

.img{
 
   max-width: 100%;
   height: auto;
   
}

.see {
    display: flex;
   
   
   

}

.sex {
    display: flex;
    
    padding-left: 45px;
    padding-top: 250px;
}


.image-1 {
  
   display: flex;
   

  
  
   
}

.image-2 {
  display: flex;
  
 
  
  
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
     font-size: 22px;
     padding: 120px;
     
     display: flex;
     flex-direction: column;
     align-items: center;

     
    
}

/* Style the dropdown button */
.dropbtn {
    background-color: #5ce3e7;
    color: white;
    padding: 17.4px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-top: -50px;
    
}


.My {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -50px;
    color: beige;
}

@media (min-width: 260px) and (max-width: 768px) {
    .adjust-width {
        width: 100%; /* Set the width to 100% for smaller screens */
        padding: 10px; /* Adjust padding for better spacing on smaller screens */
    }
    .projects {
        width: 400%;
        flex-direction: column;
        height: 400% ;
    }

    .see {
        font-size: 55px;

    }

    .sex {
        font-size: 55px;
    }

   .My{
    font-size: 66px;
    margin-left: 200px;
    width: 500px;
   
   }

   .dropbtn{
    font-size: 30px;
   }

   .img{
    min-width: 100%;
    height: auto;
   }

}

@media (min-width: 769px) and (max-width: 980px) {

    .img{
        max-width: 250%;
        height: auto;
       }

       .imgalt {
           font-size: 16px;
       }

    .projects{
        width: 980px;
    }

}
@media (min-width: 981px) and (max-width: 1200px) {

    .img{
        max-width: 250%;
        height: auto;
       }

       .imgalt {
           font-size: 16px;
       }

   

}

@media (min-width: 1999px) and (max-width: 2000px) {

    .adjust-width {
        width: 100%; /* Set the width to 100% for smaller screens */
        padding: 10px; /* Adjust padding for better spacing on smaller screens */
    }

    .projects {
        width: 200%;
        flex-direction: column;
    }
   
}


